@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');


:root {
    --text-color: #010b26;

}
body {
	background: #D7E4C0;
	font-family: 'Arimo', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color);
}

* {
    margin: 0px;
    padding: 0px;
	transition: 300ms ease-in-out 50ms;
}



a {
	text-decoration:none;
	color:inherit;
}

a:hover {
	color:#D7E4C0;
}
nav {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;	
	padding: 1rem 2rem;
	background: #B3A398;
	box-shadow: 0px 6px 18px rgba(0,0,0,.1);
}
nav a {
	color: #010b26;
	font-size: 4rem;
}
nav input {

	border-radius: 1rem;
	border: black 0.2rem solid;
	padding: 1rem;
	background-color: #C6DCBA;
}
.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5dvh;
	justify-content: center;
}
.movie-card {
	background: #BBC3A4;
	box-shadow: 0px 6px 18px rgba(0,0,0,.1);
	width: 20em;
	max-width: 1000px;
	margin: 2em;
	border-radius: 10px;
}

.movie-header {
	padding:0;
	margin: 0;
	width: 100%;
	display: flex;
    flex-direction: column;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}
.movie-header img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}

.movie-card:hover {
	transform:scale(1.03);
	box-shadow: 0px 10px 25px rgba(0,0,0,.08);
}
.movie-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 1rem 0.5rem 1rem;
}
.rating{
	text-align: center;
    align-self: flex-end;
    border-radius: 1rem;
    width: 2rem;
    background-color: #B3A398;
    padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
	font-weight: 900;
}

.movie-content {
	padding: 18px 18px 24px 18px;
	margin: 0;
}

.movie-content-header {
	display: table;
	width: 100%;
}

.movie-title {
	font-size: 24px;
	margin: 0;
	display: table-cell;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: #B3A398;
	width: auto;
	height: 100px;
}
.page-skipper{
	border: olivedrab 0.2rem solid;
	background-color: #C6DCBA;
	border-radius: 1rem;
	width: 10rem;
	height: 3rem;
}